#entrySignIn {
  padding-top: 40px;
  padding-bottom: 40px;
  _margin-top: 95px;
  margin-bottom: 0px;
  background-color: #eff0f1bf;

  input {
    padding-left: 40px;
    color: #333333 !important;
  }

  #errorMessages {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 14px;
    box-sizing: border-box;
    width: 100.5%;
    margin-bottom: 15px;
    color: red;
    font-weight: bold;
  }

  .disabledButton {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
  }

}

/* Underline Text */
.sec-line {
  position: relative;
  width: 90px;
  height: 1px;
  background: #888;
  margin: 30px auto;
}

.sec-line:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 1px;
  background: #888;
  top: -6px;
  left: 18px;
}


.sec-line:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 1px;
  background: #888;
  bottom: -6px;
  left: 18px;
}

// Added by Milson
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 30px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: auto !important;
  top: 27% !important;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.5);
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner>.item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption h1 {
  font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: #C16622;
}

.carousel-caption p {
  font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #d6d6ce;
}

.slide_description {
  -webkit-animation-name: fadeBottom;
  -moz-animation-name: fadeBottom;
  -ms-animation-name: fadeBottom;
  -o-animation-name: fadeBottom;
  animation-name: fadeBottom;
  -webkit-animation-duration: .7s;
  -moz-animation-duration: .7s;
  -ms-animation-duration: .7s;
  -o-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -ms-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
}

/**** Added on 10/31/2019 ***/
// Bootstrap overrides
//

.bg-primary {
  background-color: #5B8FA8!important;
}

.bg-overlay-primary:after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(91,143,168,.85);
	z-index: 2;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

.img-cover {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bg-overlay-primary img {
  vertical-align: middle;
  border-style: none;
}

.intro {
  padding-top: 14rem!important;
  padding-bottom: 5rem!important;
}

.intro-content {
  z-index: 2;
  position: relative;
}

.display-4 {
  font-size: 5.3rem;
  font-weight: 700;
  line-height: 1.2;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.lead {
  _font-size: 1.25rem;
  font-weight: 400;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .35rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.7rem;
}

.video-responsive {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed,
.video-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video#bgvid {  
  min-width: 100%;
  min-height: 100%;
  width: auto;
  // height: auto;
  // background: url(/images/bg_video.jpg) no-repeat;
  // background-size: cover; 
  background-color: #000000;
  width: 200%;
  left: -48%;
}
