*.bak
*.log
./logs
.idea
.idea/
venv
./build
./dist*
./*.zip
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
Thumbs.db
.DS_Store
*.DS_Store
logs/
/errors
/sessions
__pycache__
/__pycache__/*
/.vscode
/.vscode/settings.json
/models/.vscode
/models/.vscode/settings.json
node_modules
.npm
npm-debug.log
package-lock.json
production.env
orthanc.json
/data
__init__.py
