<template name="acknowledgment">
    {{#header headerClasses='navbar-fixed-top'}}
    {{#section 'brand'}}
    <img src={{absoluteUrl "/packages/ohif_viewerbase/assets/logo.png"}} alt="PCa Finder: Prostate Cancer Finder"
        class="img-responsive">

    <!-- <svg class="logo-image">
                            <use xlink:href={{absoluteUrl "/packages/ohif_viewerbase/assets/shield.svg#icon-ohif-logo"}}></use>
                        </svg> -->
    {{/section}}
    {{/header}}

    <!-- Sub Page Section BEGINS -->
    {{#subpagesection}}
    {{#section 'title'}}
    Acknowledgement
    {{/section}}
    <!-- {{#section 'slogan'}}
    Ask Questions. Contact Us. Find Answers.
    {{/section}} -->
    {{/subpagesection}}
    <!-- Sub Page Section ENDS -->

    <!-- Main Content -->
    <main class="main" role="main">
        <div class="p-y-3 bg-white">
            <div class="container">
                <article>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="https://www.lenovo.com/us/en/" target="_blank">
                                <img src="/images/lenovo_logo.jpg"
                                    alt="Lenovo Official US Site | Computers, Smartphones, Data Center"
                                    class="shadow-md img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://mrirc.uchicago.edu/" target="_blank">
                                <img src="/images/mri.png" alt="MRI Research Center US Site"
                                    class="shadow-md img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="https://www.intel.com/" target="_blank">
                                <img src="/images/intel_logo.png"
                                    alt="Intel | Data Center Solutions, IoT, and PC Innovation"
                                    class="shadow-md img-fluid">
                            </a>
                        </div>
                    </div><!-- /.row -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-3">
                                <h3>We gratefully acknowledge generous support.</h3>
                                <p>The PCa Finder: Prostate Cancer Finder was made possible with resources provided by
                                    the University of Chicago's Research Computing Center(RCC). We gratefully
                                    acknowledge financial support from
                                    <strong>Lenovo USA, Intel and University of Chicago MRI Research
                                        Center(MRIRC)</strong> for this work. We also acknowledge open source research
                                    documentated by open health foundation and Tesseract-Medical Imaging.</p>
                            </div>
                        </div>
                    </div><!-- /.row -->

                </article>
            </div>
        </div>
    </main>

    <!-- FOOTER BEGINS -->
    {{#footer}}
    {{/footer}}
    <!-- FOOTER ENDS -->
</template>