<template name="mpmri">
    {{#header headerClasses='navbar-fixed-top'}}
    {{#section 'brand'}}
    <img src={{absoluteUrl "/packages/ohif_viewerbase/assets/logo.png"}} alt="PCa Finder: Prostate Cancer Finder"
        class="img-responsive">

    <!-- <svg class="logo-image">
                        <use xlink:href={{absoluteUrl "/packages/ohif_viewerbase/assets/shield.svg#icon-ohif-logo"}}></use>
                    </svg> -->
    {{/section}}
    {{/header}}

    <!-- Sub Page Section BEGINS -->
    {{#subpagesection}}
    {{#section 'title'}}
    Multiparametric MRI (mpMRI)
    {{/section}}
    <!-- {{#section 'slogan'}}
    Ask Questions. Contact Us. Find Answers.
    {{/section}} -->
    {{/subpagesection}}
    <!-- Sub Page Section ENDS -->

    <!-- Main Content -->
    <main class="main" role="main">
        <div class="p-y-3 bg-white">
            <div class="container">

                <article class="m-b-6">
                    <div class="row">
                        <div class="col-md-8 align-items-center">
                            <div class="p-3">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                    Multiparametric MRI (mpMRI)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body"><small><a href="#1"><sup>[1]</sup></a></small>
                                                Prostate
                                                mpMRI consists of T2-weighted imaging (T2WI),
                                                diffusion weighted imaging (DWI), pre-contrast
                                                T1-weighted imaging (T1WI) and dynamic contrasted enhanced (DCE) MRI.
                                                mpMRI
                                                imaging is highly
                                                sensitive in the detection of prostate cancer compared to any individual
                                                sequence. A study <a href="#2"><sup>[2]</sup></a> reported that
                                                individually T2
                                                weighted MR (58%) and DWI (53%)
                                                and DCE-MRI (38%) imaging sequences demonstrate lower sensitivity
                                                compared to
                                                mpMRI (85%). Reported
                                                positive and negative predictive value for prostate cancer detection
                                                using mpMRI
                                                is also much higher
                                                than that using either of these imaging sequences individually.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                    T2-Weighted Imaging (T2WI)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <div class="panel-body">T2-weighted imaging allows excellent soft tissue
                                                contrast
                                                along with good spatial resolution and high
                                                signal-to-noise ratio. It provides good visualization of the zonal
                                                anatomy,
                                                seminal vesicles and
                                                neurovascular bundle. High resolution T2WI with 2D turbo/fast spin echo
                                                or 3D
                                                spin echo sequences
                                                with in plane resolution ≤ 0.4-0.7 mm and slice thickness ≤ 3mm is
                                                recommended.
                                                Images are acquired
                                                in the axial, sagittal and coronal planes, while DWI, T1W and DCE-MRI
                                                are
                                                obtained in the same
                                                planes as axial T2WI. Prostate cancer is hypointense on T2-weighted
                                                images
                                                compared to benign tissue
                                                and <a href="#2"><sup>[2-6]</sup></a>. quantitative T2 values are
                                                significantly
                                                lower in prostate
                                                cancer compared to benign prostate tissue <a
                                                    href="#7"><sup>[7-11]</sup></a>.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                    Diffusion-Weighted Imaging (DWI)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <div class="panel-body">Diffusion weighted imaging provides a signal
                                                sensitive to
                                                water movement and provides information
                                                about the tissue structure and density. A spin echo, echo planar imaging
                                                pulse
                                                sequence with plane
                                                resolution > 2.5 mm and slice thickness ≤ 4 mm is generally utilized
                                                clinically.
                                                Images with at
                                                least two b-values are required to acquire an apparent diffusion
                                                coefficient
                                                (ADC) map using a
                                                mono-exponential signal decay model. A lower b-value of 50-100 s/mm2 and
                                                higher
                                                800-1500 s/mm2 is
                                                generally used. On high b-value (~1500 s/mm2 images) increased signal is
                                                seen in
                                                prostate cancer due
                                                to reduced diffusivity. ADC is a measure of the magnitude of the
                                                diffusivity of
                                                water molecules and
                                                is used extensively clinically for the detection of cancer. ADC in
                                                cancer tissue
                                                is lower than in
                                                normal tissue and there is an inverse relation between ADC value and
                                                cancer
                                                Gleason grade <a href="#12"><sup>[12]</sup></a>. A meta-analysis of 10
                                                studies
                                                reported that the combined use
                                                of diffusion MRI, specifically ADC with traditional T2 weighted images
                                                demonstrated higher
                                                sensitivity (76%) and specificity (82%) compared to T2 weighted images
                                                alone <a href="#13"><sup>[13]</sup></a>. In addition, tumour volumes
                                                estimated from
                                                DWI have been
                                                shown to demonstrate better correlation with histological volume either
                                                than T2W
                                                or DCE-MRI <a href="#14"><sup>[14]</sup></a>.</div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                    T1-Weighted Imaging (T1W)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                            <div class="panel-body">Pre-contrast T1W images are taken over a large field
                                                of view
                                                using spin or gradient echo pulse
                                                sequence either with or without fat suppression to observe post biopsy
                                                changes.
                                                T1 hyperintensity in
                                                the prostate is usually due to hemorrhage in the prostate after biopsy.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                    Dynamic Contrasted Enhanced MRI (DCE-MRI)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse in">
                                            <div class="panel-body">DCE-MRI involves the acquisition of serial
                                                T1-weighted
                                                images (fast/spoiled gradient echo sequence
                                                with fat suppression) of the prostate before and after the bolus
                                                injection of a
                                                chelated gadolinium
                                                (Gd) molecule. Cancers show early focal signal enhancement due to
                                                increased
                                                vascularity or
                                                angiogenesis <a href="#15"><sup>[15, 16]</sup></a>. Increased capillary
                                                permeability leads to higher
                                                uptake of contrast agent that shortens T1 relaxation time and therefore
                                                shows up
                                                as hyperintense
                                                region with respect to surrounding tissue. Temporal resolution less than
                                                10
                                                seconds is recommended
                                                as use of higher temporal resolution leads to increased diagnostic
                                                performance
                                                <a href="#17"><sup>[17]</sup></a>.</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 align-items-center">
                            <img src="/images/bg-dicom.gif" alt="Prostate mpMRI Imaging" class="shadow-md img-fluid">
                        </div>
                    </div><!-- /.row -->

                    <div class="row">
                        <!-- R2 -->

                        <div class="col-lg-12 mx-auto">
                            <small>
                                <ol>
                                    <a name="1">&nbsp;</a>
                                    <li>Chatterjee A, Oto A. Future Perspectives in Multiparametric Prostate MR Imaging.
                                        Magnetic
                                        Resonance Imaging Clinics of North America 2019; 27:117-130
                                    </li>
                                    <a name="2">&nbsp;</a>
                                    <li>Turkbey B, McKinney YL, Trivedi H, et al. Multiparametric 3T prostate magnetic
                                        resonance
                                        imaging to detect cancer: histopathological correlation using prostatectomy
                                        specimens
                                        processed in customized magnetic resonance imaging based molds. The Journal of
                                        urology 2011;
                                        186:1818-1824
                                    </li>
                                    <a name="3">&nbsp;</a>
                                    <li>Baur AD, Maxeiner A, Franiel T, et al. Evaluation of the prostate imaging
                                        reporting and data
                                        system for the detection of prostate cancer by the results of targeted biopsy of
                                        the
                                        prostate. Invest Radiol 2014; 49:411-420
                                    </li>
                                    <a name="4">&nbsp;</a>
                                    <li>Vilanova JC, Barceló-Vidal C, Comet J, et al. Usefulness of prebiopsy
                                        multifunctional and
                                        morphologic MRI combined with free-to-total prostate-specific antigen ratio in
                                        the detection
                                        of prostate cancer. AJR American journal of roentgenology 2011; 196:W715-W722
                                    </li>
                                    <a name="5">&nbsp;</a>
                                    <li>Rosenkrantz AB, Deng F-M, Kim S, et al. Prostate Cancer: Multiparametric MRI for
                                        Index
                                        Lesion Localization—A Multiple-Reader Study. American Journal of Roentgenology
                                        2012;
                                        199:830-837
                                    </li>
                                    <a name="6">&nbsp;</a>
                                    <li>Greer MD, Brown AM, Shih JH, et al. Accuracy and agreement of PIRADSv2 for
                                        prostate cancer
                                        mpMRI: A multireader study. Journal of Magnetic Resonance Imaging 2017;
                                        45:579-585
                                    </li>
                                    <a name="7">&nbsp;</a>
                                    <li>Foltz WD, Chopra S, Chung P, et al. Clinical prostate T2 quantification using
                                        magnetization-prepared spiral imaging. Magnetic Resonance in Medicine 2010;
                                        64:1155-1161
                                    </li>
                                    <a name="8">&nbsp;</a>
                                    <li>Liney GP, Turnbull LW, Lowry M, Turnbull LS, Knowles AJ, Horsman A. In vivo
                                        quantification
                                        of citrate concentration and water T2 relaxation time of the pathologic prostate
                                        gland using
                                        1H MRS and MRI. Magnetic Resonance Imaging 1997; 15:1177-1186
                                    </li>
                                    <a name="9">&nbsp;</a>
                                    <li>Hoang Dinh A, Souchon R, Melodelima C, et al. Characterization of prostate
                                        cancer using T2
                                        mapping at 3 T: A multi-scanner study. Diagnostic and Interventional Imaging
                                        2015;
                                        96:365-372
                                    </li>
                                    <a name="10">&nbsp;</a>
                                    <li>Gibbs P, Tozer DJ, Liney GP, Turnbull LW. Comparison of quantitative T2 mapping
                                        and
                                        diffusion-weighted imaging in the normal and pathologic prostate. Magnetic
                                        Resonance in
                                        Medicine 2001; 46:1054-1058
                                    </li>
                                    <a name="11">&nbsp;</a>
                                    <li>Liu W, Turkbey B, Sénégas J, et al. Accelerated T(2) Mapping for
                                        Characterization of
                                        Prostate Cancer. Magnetic resonance in medicine : official journal of the
                                        Society of
                                        Magnetic Resonance in Medicine / Society of Magnetic Resonance in Medicine 2011;
                                        65:1400-1406
                                    </li>
                                    <a name="12">&nbsp;</a>
                                    <li>Turkbey B, Merino MJ, Shih JH, et al. Is apparent diffusion coefficient
                                        associated with
                                        clinical risk scores for prostate cancers that are visible on 3-T MR images?
                                        Radiology 2011;
                                        258:488-495
                                    </li>
                                    <a name="13">&nbsp;</a>
                                    <li>Wu L-M, Xu J-R, Gu H-Y, et al. Usefulness of Diffusion-weighted Magnetic
                                        Resonance Imaging
                                        in the Diagnosis of Prostate Cancer. Academic Radiology 2012; 19:1215-1224
                                    </li>
                                    <a name="14">&nbsp;</a>
                                    <li>Isebaert S, Van den Bergh L, Haustermans K, et al. Multiparametric MRI for
                                        prostate cancer
                                        localization in correlation to whole-mount histopathology. J Magn Reson Imaging
                                        2013;
                                        37:1392-1401
                                    </li>
                                    <a name="15">&nbsp;</a>
                                    <li>de Rooij M, Hamoen EH, Fütterer JJ, Barentsz JO, Rovers MM. Accuracy of
                                        multiparametric MRI
                                        for prostate cancer detection: a meta-analysis. American Journal of
                                        Roentgenology 2014;
                                        202:343-351
                                    </li>
                                    <a name="16">&nbsp;</a>
                                    <li>Kozlowski P, Chang SD, Jones EC, Berean KW, Chen H, Goldenberg SL. Combined
                                        diffusion‐weighted and dynamic contrast‐enhanced MRI for prostate cancer
                                        diagnosis—Correlation with biopsy and histopathology. Journal of Magnetic
                                        Resonance Imaging
                                        2006; 24:108-113
                                    </li>
                                    <a name="17">&nbsp;</a>
                                    <li>Othman AE, Falkner F, Weiss J, et al. Effect of Temporal Resolution on
                                        Diagnostic
                                        Performance of Dynamic Contrast-Enhanced Magnetic Resonance Imaging of the
                                        Prostate. Invest
                                        Radiol 2016; 51:290-296
                                    </li>
                                </ol>
                            </small>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </main>

    <!-- FOOTER BEGINS -->
    {{#footer}}
    {{/footer}}
    <!-- FOOTER ENDS -->
</template>