<template name="incidence">
    {{#header headerClasses='navbar-fixed-top'}}
    {{#section 'brand'}}
    <img src={{absoluteUrl "/packages/ohif_viewerbase/assets/logo.png"}} alt="PCa Finder: Prostate Cancer Finder"
        class="img-responsive">

    <!-- <svg class="logo-image">
                        <use xlink:href={{absoluteUrl "/packages/ohif_viewerbase/assets/shield.svg#icon-ohif-logo"}}></use>
                    </svg> -->
    {{/section}}
    {{/header}}

    <!-- Sub Page Section BEGINS -->
    {{#subpagesection}}
    {{#section 'title'}}
    Incidence
    {{/section}}
    <!-- {{#section 'slogan'}}
    Ask Questions. Contact Us. Find Answers.
    {{/section}} -->
    {{/subpagesection}}
    <!-- Sub Page Section ENDS -->

    <!-- Main Content -->
    <main class="main" role="main">
        <div class="p-y-3 bg-white">
            <div class="container">
                <div class="row m-b-3">
                    <div class="col-md-12 mx-auto">
                        <h2 class="text-center">Incidence of Prostate Cancer</h2>
                    </div>
                </div><!-- /.row -->

                <article class="m-b-6">
                    <div class="row">
                        <div class="col-md-7 align-items-center">
                            <div class="p-3">
                                <p>Prostate cancer accounts for 20% of all new cancer cases amongst US men at
                                    approximately 174,650 new men diagnosed each year<a href="#1"><sup>[1]</sup></a>,
                                    with prostate cancer alone
                                    accounting for nearly 1 in 5 new cancer diagnoses. It is estimated that 31,620 men
                                    suffer prostate cancer related death in 2019, which is the highest cancer related
                                    death after lung, pancreas and colon & rectum. The inequality for prostate cancer
                                    mortality was largely confined to African American men, even after accounting for
                                    Hispanic ethnicity among Caucasian Americans. There is a stronger association
                                    between lower socioeconomic status and prostate cancer mortality among African
                                    Americans.</p>

                                <p>However, for all stages combined, 5‐year relative survival rate was highest for
                                    prostate cancer (98%) amongst all cancers diagnosed during 2008 through 2014.
                                    Therefore, effective screening and early diagnosis of prostate cancer can improve
                                    patient outcomes.</p>
                            </div>
                        </div>
                        <div class="col-md-5" style="background-color: #212529;">
                            <img src="/images/incidence_graph.png" alt="Incidence of Prostate Cancer Graph"
                                class="shadow-md img-fluid">
                        </div>
                    </div><!-- /.row -->

                    <div class="row">
                        <!-- R2 -->
                        <div class="col-lg-12 mx-auto">
                            <small>
                                <ol>
                                    <a name="1">&nbsp;</a>
                                    <li>Siegel RL, Miller KD, Jemal A. Cancer statistics, 2019. CA: A Cancer Journal
                                        for Clinicians 2019;69(1):7-34. https://doi.org/10.3322/caac.21551</li>
                                </ol>
                            </small>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </main>


    <!-- FOOTER BEGINS -->
    {{#footer}}
    {{/footer}}
    <!-- FOOTER ENDS -->
</template>