@import "{ohif:design}/app"

body
  background-image : url("bgi.jpeg")
  height: 100%;
  background-color :#FFFFFF
  /* Center and scale the image nicely */
  background-position: revert;
  background-repeat : round
  background-size: contain;


#viewer
  background-color: #555555
  height: 100%
  width: 100%

.loadingTextDiv
  theme('color', '$textSecondaryColor')
  font-size: 30px
