@import "{ohif:design}/app"
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
body>.header

  .brand
    height: 30px
    display: inline-block
    text-decoration: none

    .logo-image
      display: inline-block
      fill: transparent
      float: left
      height: 100%
      margin: 0 8px 0 0
      width: 30px

    .logo-text
      display: inline-block
      font-family: $logoFontFamily
      font-size: 14px
      font-weight: $logoFontWeight
      theme('color', '$textPrimaryColor')
      line-height: 30px

  a.header-menu
    theme('color', '$textPrimaryColor')

    .user-name
      font-size: 16px
      color: yellow

    .header-options
      font-size: 16px

    .menu-toggle
      display: inline-block
      height: 18px

  .btn
    _theme('color', '$textSecondaryColor')
    color: white
    cursor: pointer
    font-size: 13px
    font-weight: 500
    line-height: 26px

    &:hover
      theme('color', '$hoverColor')

    &:active
      theme('color', '$activeColor')

  .studyListLinkSection
    theme('border-left', '%s solid $uiBorderColor' % $uiBorderThickness)
    margin: 10px 0 0 0
    border-left: 1px solid #44626f;
    padding: 15px 0px 15px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
    

  &.header-big
    padding-left: $studyListPadding
    padding-right: $studyListPadding

    .brand
      _height: 100%
      width: 80%
      line-height: $topBarExpandedHeight - 10px

      .logo-image
        margin: 0 20px 0 0
        width: 50px

      .logo-text
        font-size: 30px

#how-to
  _color: white
  font-size: 16px
  font-weight: 500
  background: #dddddd
  #how-to-content
    padding: 0 8%


a, a:hover, a:focus{outline:none; text-decoration:none;}

body{
  font-family: 'Open Sans', sans-serif;
}

h2{float:left; width:100%; color:#fff; margin-bottom:30px; font-size: 14px;}
h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h2 a{color:#fff; font-weight:bold;}


section{

  float:left;
  width:100%;
  padding:30px 0;
}

.card {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom:1px;
  border:none;
}
.card-header:first-child {
  border-radius: 0;
}
.card-header {
  background-color: #f7f7f9;
  margin-bottom: 0;
  padding: 20px 1.25rem;
  border:none;

}
.card-header a i{
  float:left;
  font-size:25px;
  padding:5px 0;
  margin:0 25px 0 0px;
  color:#195C9D;
}
.card-header i{
  float:right;
  font-size:30px;
  width:1%;
  margin-top:8px;
  margin-right:10px;
}
.card-header a{
  width:97%;
  float:left;
  color:#565656;
}
.card-header p{
  margin:0;
}

.card-header h3{
  margin:0 0 0px;
  font-size:20px;
  font-family: 'Slabo 27px', serif;
  font-weight:bold;
  color:#800000;
}
.card-block {
  font-size: 16px;
  font-weight: bolder;
  -moz-box-flex: 1;
  flex: 1 1 auto;
  padding: 20px;
  color:#555555;
  box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
  border-top:1px soild #000;
  border-radius:0;
}
ol a{ font-size: 20px;
  font-weight: bold;
  color:#800000
}
  ol li{ font-size: 16px;
    font-weight: bolder;
    color:#555555
  }
