@import "{ohif:design}/app"

body>.header

  a.header-menu
    theme('color', '$textPrimaryColor')

    .user-name
      font-size: 16px
      color: yellow

    .header-options
      font-size: 16px

    .menu-toggle
      display: inline-block
      height: 18px

  .btn
    _theme('color', '$textSecondaryColor')
    _color: white    
    _font-size: 13px
    _font-weight: 500
    _line-height: 26px

    padding: 10px 10px;
    font-size: 18px;
    border: 2px solid #ffffff !important;
    cursor: pointer
    color: #ffffff
    background: #39b49a
    border: #39b49a
    background: -moz-linear-gradient(left, #39b49a 0%, #1d86df 100%)
    background: -webkit-linear-gradient(left, #39b49a 0%, #1d86df 100%)
    background: linear-gradient(to right, #39b49a 0%, #1d86df 100%)

    &:hover
      theme('color', '$hoverColor')
      background-position: 100px
      color: #ffffff
      background: #1d86df
      background: -moz-linear-gradient(left, #1d86df 0%, #39b49a 100%)
      background: -webkit-linear-gradient(left, #1d86df 0%, #39b49a 100%)
      background: linear-gradient(to right, #1d86df 0%, #39b49a 100%)

    &:active
      theme('color', '$activeColor')
      background-position: 100px
      color: #ffffff
      background: #1d86df
      background: -moz-linear-gradient(left, #1d86df 0%, #39b49a 100%)
      background: -webkit-linear-gradient(left, #1d86df 0%, #39b49a 100%)
      background: linear-gradient(to right, #1d86df 0%, #39b49a 100%)
      

  .studyListLinkSection
    theme('border-left', '%s solid $uiBorderColor' % $uiBorderThickness)
    margin: 10px 0 0 0
    border-left: 1px solid #44626f;
    padding: 15px 0px 15px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
    
#how-to
  _color: white
  font-size: 16px
  font-weight: 500
  background: #dddddd
  #how-to-content
    padding: 0 8%
