<template name="contact">
    {{#header headerClasses='navbar-fixed-top'}}
    {{#section 'brand'}}
    <img src={{absoluteUrl "/packages/ohif_viewerbase/assets/logo.png"}} alt="PCa Finder: Prostate Cancer Finder"
        class="img-responsive">

    <!-- <svg class="logo-image">
                            <use xlink:href={{absoluteUrl "/packages/ohif_viewerbase/assets/shield.svg#icon-ohif-logo"}}></use>
                        </svg> -->
    {{/section}}
    {{/header}}

    <!-- Sub Page Section BEGINS -->
    {{#subpagesection}}
    {{#section 'title'}}
    Need Help?
    {{/section}}
    {{#section 'slogan'}}
    If you need assistance we are here to support you.
    {{/section}}
    {{/subpagesection}}
    <!-- Sub Page Section ENDS -->

    <!-- Main Content -->
    <main role="main">

        <div class="p-y-3 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 m-b-3">
                        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAChgLMydtgwG9_Se3-Lt05BBzvekEn4u8
                        &q=Research+Computing+Center,+5607+S+Drexel+Ave,Chicago+IL+60637" allowfullscreen>
                        </iframe>
                    </div>
                    <div class="col-md-5">
                        <div class="bg-white">
                            <h3>Address</h3>
                            <p class="m-b-2">5607 S Drexel Ave, Chicago, IL 60637, USA</p>

                            <h3>Phone</h3>
                            <p class="m-b-2"><a href="tel:+17737952667" target="_top">(773) 795-2667</a></p>

                            <h3>Email Address</h3>
                            <p class="mb-0"><a
                                    href="mailto:help@rcc.uchicago.edu?Subject=Question%20regarding%20PCa%20Finder%20Application"
                                    target="_top">help@rcc.uchicago.edu</a>
                            </p>
                        </div>

                        <div class="bg-white">
                            <h3>More Info</h3>
                            <p><a href="https://rcc.uchicago.edu/" target="_blank">The Research Computing Center (RCC)</a> 
                                is dedicated to providing the University of Chicago community a full-service high-performance computing (HPC) 
                                center, including visualization resources, access to software, workshops, one-on-one consulting with domain 
                                experts, and complete data-management strategies to researchers across all departments and divisions.
                            </p>
                        </div>

                    </div>
                </div>

            </div> <!-- /container -->
        </div>
    </main>



    <!-- FOOTER BEGINS -->
    {{#footer}}
    {{/footer}}
    <!-- FOOTER ENDS -->
</template>